PyMuPDF
python-docx
ebooklib
beautifulsoup4
SpeechRecognition
pyttsx3
TTS
pygame
google-genai
groq
pillow
requests
streamlit
python-dotenv
fastapi
uvicorn[standard]
python-multipart
thefuzz==0.22.1
python-Levenshtein==0.25.0
chromadb
sentence-transformers
langchain-text-splitters
